<template>
<div>
  <h1>kSelect component (vue):</h1>
  <br /><br />
  <k-select v-model="city.value" v-bind="city"></k-select>
  <br /><br />
  <k-select v-model="sex.value" v-bind="sex"></k-select>
  <br /><br />
</div>
</template>

<script>
import kSelect from "../component/kSelect.vue"

export default {
  components: {
    kSelect
  },
  data() {
    return {
      city: {
        value: null,
        list: [
          { text: "New York", value: "NY" },
          { text: "London", value: "L" },
          { text: "Tokyo", value: "T" }
        ],
        placeholder: "custom city placeholder",
        label: "enter city:",
        custom: true, // enable custom user input for select
      },
      sex: {
        value: null,
        list: [
          { text: "Male", value: "M" },
          { text: "Female", value: "F" }
        ],
        label: "for mobile:",
        placeholder: "select sex",
        mobile: true, // change select view for mobiles
        custom: true, // enable custom user input for select
      },
    }
  },
}
</script>
