.kSelect-input
  height: 100%
  display: block
  box-sizing: border-box
  padding: 0 30px 0 0

  input
    border: none
    background: none
    width: 100%
    height: 100%
    padding-left: 10px
    padding-bottom: 3px
    display: block
    box-sizing: border-box

    &:focus,
    &:active
      outline: none

    &[readonly]
      cursor: pointer
