@import "vars.sass"
@import "input.sass"
@import "list.sass"

.kSelect
  display: inline-block
  position: relative
  width: 200px

  .kSelect_label
    display: block
    margin-bottom: 5px

  .kSelect_field
    position: relative
    box-sizing: border-box
    height: 35px
    padding: 0
    background: white
    border-radius: 2px
    border: 1px solid #bbb
    transition: $animate-normal

    &:hover
      border-color: rgba($blue, .5)

    .kSelect_arrow,
    .kSelect_icon
      cursor: pointer
      display: inline-block
      position: absolute
      top: 0
      right: 0
      width: 30px
      height: 100%
      text-align: center
      transition: $animate-normal

      .kIcon
        margin-top: 7px
        fill: #222
        width: 18px
        height: 18px
        transition: $animate-normal

      &:before
        content: ""
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0,0,0,.1)
        opacity: 0
        transition: $animate-normal

      &:hover:before
        opacity: .5

      &:hover

        .kIcon
          fill: $blue

    .kDropdown
      top: -5px

      .kDropdown_window
        width: 100%

    select
      width: 100%
      height: 100%
      padding: 0 5px
      border: none

      &:focus
        outline: none



  &.__opened

    .kSelect_arrow

      .kIcon
        fill: $blue
        transform: rotate(180deg)

  &.__active

    .kSelect_field
      border: 1px solid $blue

  &.__error

    .kSelect_field
      background: #ffe6e6

  &.__width_full
    width: 100%

  &.__color_orange

    .kSelect_field:hover
      border-color: rgba($orange, .5)

    .kSelect_arrow:hover

      .kIcon
        fill: $orange

    &.__active

      .kSelect_field
        border: 1px solid $orange

    &.__opened

      .kSelect_arrow

        .kIcon
          fill: $orange
