<template>
  <div
    class="kSelect"
    :class="{ __active: isActive, __error: hasError, __opened: dropdownOpened }"
    v-on-clickaway="exit">
    <label
      class="kSelect_label"
      v-if="label"
      @click.prevent="activate"
      :class="{ __bold: required }">{{ label }}</label>

    <div v-if="mobile" class="kSelect_field">
      <select v-if="readonly" @change="change" :value="value">
        <option disabled value="">{{ placeholder }}</option>
        <option v-for="item in list" :value="item.value">{{ item.text }}</option>
        <option v-if="custom" custom value="">enter custom</option>
      </select>
      <div v-else class="kSelect-input">
        <input
          ref="input"
          type="text"
          :placeholder="placeholder"
          :value="value"
          @input="emitValue" />
        <div class="kSelect_icon" @click.prevent="reset">
          <k-icon glyph="times"></k-icon>
        </div>
      </div>
    </div>
    <div v-else class="kSelect_field">
      <div class="kSelect-input">
        <input
          ref="input"
          type="text"
          :placeholder="placeholder"
          :readonly="readonly"
          :value="readonly ? text : value"
          @click="toggleDropdown"
          @input="emitValue" />
      </div>
      <div class="kSelect_arrow" @click.prevent="toggleDropdown">
        <k-icon glyph="angle-down"></k-icon>
      </div>
      <k-dropdown :open="dropdownOpened">
        <div class="kSelect-list">
          <div class="kSelect-list_item" disabled value="" @click.prevent="select">{{ placeholder }}</div>
          <div class="kSelect-list_item" v-for="item in list" :value="item.value" @click.prevent="select">{{ item.text }}</div>
          <div class="kSelect-list_item" custom value="" v-if="custom" @click.prevent="select">enter custom</div>
        </div>
      </k-dropdown>
    </div>

    <k-error :errors="errors"></k-error>
  </div>
</template>

<script>
import kDropdown from "k-dropdown"
import kError from "k-error"
import kIcon from "k-icon"
import { mixin as clickaway } from "vue-clickaway"

export default {
  components: { kDropdown, kError, kIcon },
  mixins: [ clickaway ],
  props: {
    custom: Boolean,
    errors: Object,
    label: String,
    list: Array,
    mobile: Boolean,
    placeholder: { type: String, default: "not selected" },
    value: String,
    required: Boolean
  },
  data() {
    return {
      active: false,
      dropdownOpened: false,
      readonly: true,
      text: null
    }
  },
  created() {
    if (this.value)
      this.setDefaultValue()
  },
  computed: {
    isActive() {
      return (this.value || this.active) ? true: false
    },

    hasError() {
      if (this.errors) {
        for (var error in this.errors) {
          if (this.errors[error].value)
            return true
        }
      }

      return false
    }
  },
  watch: {
    dropdownOpened(opened) {
      if (opened)
        this.active = true
    }
  },
  methods: {
    activate() {
      this.active = true
    },

    change(e) {
      if (e.target.options[e.target.selectedIndex].getAttribute("custom") === "") {
        this.readonly = false
        this.$nextTick(function() {
          this.$refs.input.focus()
        })
      } else {
        this.readonly = true
      }

      this.emitValue(e)
    },

    exit() {
      if (!this.value)
        this.active = false

      this.dropdownOpened = false
    },

    emitValue(e) {
      this.$emit("input", e.target.value || null)
    },

    reset() {
      this.readonly = true
    },

    select(e) {
      if (e.target.attributes.custom) {
        this.readonly = false
        this.$refs.input.focus()
      } else {
        this.readonly = true
      }

      this.dropdownOpened = false

      if (e.target.attributes.disabled || e.target.attributes.custom) {
        this.text = null
        this.$emit("input", null)
      } else {
        this.text = e.target.innerHTML
        this.$emit("input", e.target.getAttribute('value'))
      }
    },

    setDefaultValue() {
      if (this.mobile) // native selects on mobile do not require special handling
        return

      let item = this.list.find(item => item.value === this.value)
      this.text = item ? item.text : null 
    },

    toggleDropdown() {
      this.dropdownOpened = !this.dropdownOpened
    },
  }
}
</script>

<style lang="sass" src="./kSelect.sass"></style>
