.kSelect-list

  .kSelect-list_item
    padding: 5px 10px
    cursor: pointer
    user-select: none
    font-family: Arial, sans-serif
    font-size: 12px

    &:hover
      background: #f0f0f0

    &.__selected
      font-weight: bold

    &[disabled]
      color: #777